In [1]:
import numpy as np
import pandas as pd

In [2]:
# Generate Path to dataset

## fill in the path to the local directory, if the dataset is not saved in the same folder as the notebook
local_file_dir = ""
path_to_dataset = local_file_dir+"nips_dataset_cleared.h5"

In [3]:
# Load individual data frames

authors = pd.read_hdf(path_to_dataset, 'authors')
papers = pd.read_hdf(path_to_dataset, 'papers')
institution = pd.read_hdf(path_to_dataset, 'institutions')

In [4]:
authors

,paper_index,name,institution
1,12020,Sangnie Bhardwaj,google
2,12020,Ian Fischer,google
3,12020,Johannes Ballé,google
4,12020,Troy Chinen,google
5,22020,Jean-Baptiste Alayrac,massachusetts institute of technology
...,...,...,...
36823,86932019,Joshua Wang,google
36824,23022019,Ruho Kondo,"toyota central r&d labs., inc."
36825,23022019,Keisuke Kawano,"toyota central r&d labs., inc"
36826,23022019,Satoshi Koide,toyota central r&d labs.
36827,23022019,Takuro Kutsuna,toyota central r&d labs. inc.

In [8]:
papers

,title,abstract,year,paper_index
1,An Unsupervised Information-Theoretic Perceptu...,Tractable models of human perception have prov...,2020,12020
2,Self-Supervised MultiModal Versatile Networks,Videos are a rich source of multi-modal superv...,2020,22020
3,"Benchmarking Deep Inverse Models over time, an...",We consider the task of solving generic invers...,2020,32020
4,Off-Policy Evaluation and Learning for Externa...,We consider the evaluation and training of a n...,2020,42020
5,Neural Methods for Point-wise Dependency Estim...,"Since its inception, the neural estimation of ...",2020,52020
...,...,...,...,...
11275,Discrete Object Generation with Reversible Ind...,The success of generative modeling in continuo...,2019,54522019
11276,Adaptively Aligned Image Captioning via Adapti...,Recent neural models for image captioning usua...,2019,47992019
11277,Fully Dynamic Consistent Facility Location,We consider classic clustering problems in ful...,2019,18272019
11278,Efficient Rematerialization for Deep Networks,"When training complex neural networks, memory ...",2019,86932019
11279,Flow-based Image-to-Image Translation with Fea...,Learning non-deterministic dynamics and intrin...,2019,23022019

In [6]:
institution

,Unnamed: 0,institutions,city,state,country
0,0,stanford university,Stanford,CA,US
1,1,mit,Cambridge,MA,US
2,2,carnegie mellon university,Pittsburgh,PA,US
3,3,uc berkeley,Berkeley,CA,US
4,4,google,Mountain View,CA,US
...,...,...,...,...,...
95,95,the university of texas at austin,Austin,TX,US
96,96,university of virginia,Charlottesville,VA,US
97,97,facebook,Menlo Park,CA,US
98,98,rutgers university,Newark and Camden,NJ,US
99,99,virginia tech,Blacksburg,VA,US

In [12]:
# for Ding-Ze only names to scrape author's ID from semantic scholar
pd.DataFrame(authors['name'].unique()).to_csv("authors_list_for_semantic_scholar_id.csv", index=False, header=False)